* {
  background-color: #9c89b8;
  margin: auto 0;
  font-family: 'Roboto Mono', monospace;
}

h1 {
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  text-transform: uppercase;
}

#imagem_perfil {
  width: 100%;
}

.minibio {
  text-align: center;
  color: rgb(234,679,234);
  line-height: 2;
}

.subtitulo_primario {
  color: white;
  text-align: center;
  font-weight: 300;
}

.subtitulo_secundario {
  color: rgb(234,679,234);
  text-align: center;
  font-weight: 300;
}

#etiqueta_formulario {
  color: pink;
}

li {
  color: white;
}

#item {
  color: black;
}

.item_final {
  color: yellow;
}

table {
  text-align: center;
  border-size: 2px;
  border-color: black;
  border-style: solid;
}

th {
  height: 100px;
  padding: 4px;
  border-size: 1px;
  border-color: black;
  border-style: solid;
}

td {
  width: 30%;
  padding: 6px;
  border-size: 1px;
  border-color: black;
  border-style: solid;
}

tr {
  height: 80px;
}
